In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Read in the dataframe

In [159]:
df = pd.read_csv('2019_data_analyst_job.csv')
df

,ID,Date,Job Title,Job Location,Hired,Easy Apply
0,24368,4/11/19 9:30,PHARMACEUTICAL DATA ANALYST,"Dallas, TX",False,False
1,24369,6/25/19 13:30,PHARMACEUTICAL DATA ANALYST,"Austin, TX",False,False
2,24371,10/26/19 1:00,PHARMACEUTICAL DATA ANALYST,"Boulder, CO",True,False
3,24374,3/2/19 19:30,PHARMACEUTICAL DATA ANALYST,"New York, NY",False,False
4,24388,4/4/19 19:30,PHARMACEUTICAL DATA ANALYST,"Chicago, IL",False,True
...,...,...,...,...,...,...
32591,12154531,8/19/19 23:31,QA DATA ANALYST,"New York, NY",False,False
32592,12157329,3/8/19 17:50,MANUFACTURING DATA ANALYST,"Chicago, IL",False,False
32593,12162108,10/23/19 12:05,QA DATA ANALYST,"San Francisco, CA",False,False
32594,12165032,2/14/19 1:44,DATA QUALITY ANALYST,"San Diego, CA",False,True
32595,12168373,4/6/19 15:03,NETWORK DATA ANALYST,"Houston, TX",False,False

# Data Inspection

In [7]:
df['Job Title'].unique()

array(['PHARMACEUTICAL DATA ANALYST', 'DATA QUALITY ANALYST',
       'TECHNICAL DATA ANALYST', 'LOAN DATA ANALYST',
       'ECOMMERCE DATA ANALYST', 'CLINICAL DATA ANALYST',
       'OPERATIONS RESEARCH DATA ANALYST', 'BUSINESS DATA ANALYST',
       'RESEARCH DATA ANALYST', 'DIGITAL MARKETING DATA ANALYST',
       'DATA GOVERNANCE ANALYST', 'PRODUCT DATA ANALYST',
       'MANUFACTURING DATA ANALYST', 'SALES DATA ANALYST',
       'REGULATORY DATA ANALYST', 'FRAUD DATA ANALYST', 'DATA SCIENTIST',
       'QA DATA ANALYST', 'RISK DATA ANALYST', 'CREDIT DATA ANALYST',
       'PROGRAM DATA ANALYST', 'FINANCE ANALYST', 'DATA ENGINEER ANALYST',
       'CLAIMS DATA ANALYST', 'TRANSPORTATION ANALYST',
       'UNDERWRITING ANALYST', 'NETWORK DATA ANALYST',
       'BIOINFORMATICS DATA ANALYST'], dtype=object)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32596 entries, 0 to 32595
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            32596 non-null  int64
 1   Date          32596 non-null  object
 2   Job Title     32596 non-null  object
 3   Job Location  32596 non-null  object
 4   Hired         32596 non-null  bool
 5   Easy Apply    32596 non-null  bool
dtypes: bool(2), int64(1), object(3)
memory usage: 1.1+ MB

In [87]:
df.describe()

                 ID
count  3.259600e+04
mean   1.173212e+07
std    4.943200e+05
min    2.436800e+04
25%    1.165549e+07
50%    1.175267e+07
75%    1.184793e+07
max    1.216837e+07

In [99]:
df.isnull().count()

ID              32596
Date            32596
Job Title       32596
Job Location    32596
Hired           32596
Easy Apply      32596
dtype: int64

In [103]:
df.duplicated().count()

32596

# Perform Data Cleaning

In [161]:
df['Date'] = df['Date'].str[:7]
df

,ID,Date,Job Title,Job Location,Hired,Easy Apply
0,24368,4/11/19,PHARMACEUTICAL DATA ANALYST,"Dallas, TX",False,False
1,24369,6/25/19,PHARMACEUTICAL DATA ANALYST,"Austin, TX",False,False
2,24371,10/26/1,PHARMACEUTICAL DATA ANALYST,"Boulder, CO",True,False
3,24374,3/2/19,PHARMACEUTICAL DATA ANALYST,"New York, NY",False,False
4,24388,4/4/19,PHARMACEUTICAL DATA ANALYST,"Chicago, IL",False,True
...,...,...,...,...,...,...
32591,12154531,8/19/19,QA DATA ANALYST,"New York, NY",False,False
32592,12157329,3/8/19,MANUFACTURING DATA ANALYST,"Chicago, IL",False,False
32593,12162108,10/23/1,QA DATA ANALYST,"San Francisco, CA",False,False
32594,12165032,2/14/19,DATA QUALITY ANALYST,"San Diego, CA",False,True
32595,12168373,4/6/19,NETWORK DATA ANALYST,"Houston, TX",False,False

In [169]:
df['state'] = df['Job Location'].str.split(',').str[1]
df

df['Job Location'].str[:8]

0        Dallas,
1        Austin,
2        Boulder,
3        New York
4        Chicago,
           ...
32591    New York
32592    Chicago,
32593    San Fran
32594    San Dieg
32595    Houston,
Name: Job Location, Length: 32596, dtype: object

# Use Pintrest API data

In [38]:
import requests

url = "https://pinterest-apis.p.rapidapi.com/v1/pinterest/profile/trangnbui"

headers = {
	"x-rapidapi-key": "14e6e29f34msh71721f4a0252265p13e32djsnb057017ba3fc",
	"x-rapidapi-host": "pinterest-apis.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

{'status': 200, 'message': '', 'data': {'is_verified_merchant': False, 'indexed': True, 'pin_count': 1028, 'last_pin_save_time': 'Thu, 01 Jun 2023 01:14:53 +0000', 'show_impressum': False, 'partner': None, 'should_show_messaging': True, 'story_pin_count': 0, 'is_private_profile': False, 'profile_discovered_public': None, 'has_published_pins': False, 'domain_verified': False, 'first_name': 'Trang', 'has_shopping_showcase': False, 'show_creator_profile': False, 'last_name': 'Bui', 'image_small_url': 'https://i.pinimg.com/30x30_RS/b8/c6/0d/b8c60d5bb25b8d31b23de1dbee1f1ffa.jpg', 'pins_done_count': 0, 'video_pin_count': 0, 'full_name': 'Trang Bui', 'has_showcase': False, 'image_large_url': 'https://i.pinimg.com/140x140_RS/b8/c6/0d/b8c60d5bb25b8d31b23de1dbee1f1ffa.jpg', 'is_tastemaker': False, 'seo_description': 'Trang Bui | I like to take long, romantic walks to the kitchen.', 'follower_count': 186, 'is_ads_only_profile': False, 'explicitly_followed_by_me': False, 'seo_noindex_reason': None, 'profile_cover': {'id': '122301083539216086', 'images': None, 'type': None, 'video': None, 'source': None, 'source_id': None}, 'interest_following_count': None, 'website_url': None, 'is_inspirational_merchant': False, 'seo_canonical_domain': 'www.pinterest.com', 'should_default_comments_off': False, 'native_pin_count': 0, 'about': 'I like to take long, romantic walks to the kitchen.', 'has_catalog': False, 'ads_only_profile_site': None, 'blocked_by_me': False, 'image_xlarge_url': 'https://i.pinimg.com/280x280_RS/b8/c6/0d/b8c60d5bb25b8d31b23de1dbee1f1ffa.jpg', 'domain_url': None, 'explicit_user_following_count': 84, 'pronouns': [], 'image_medium_url': 'https://i.pinimg.com/75x75_RS/b8/c6/0d/b8c60d5bb25b8d31b23de1dbee1f1ffa.jpg', 'joined_communities_count': 0, 'following_count': 84, 'board_count': 17, 'is_partner': False, 'show_discovered_feed': None, 'verified_identity': {}, 'show_engagement_tab': False, 'listed_website_url': None, 'profile_reach': -1, 'storefront_management_enabled': True, 'group_board_count': 2, 'has_custom_board_sorting_order': True, 'profile_views': -1, 'seo_title': 'Trang Bui (trangnbui) - Profile | Pinterest', 'is_primary_website_verified': False, 'type': 'user', 'impressum_url': None, 'username': 'trangnbui', 'id': '122301083539216086', 'repins_from': None, 'has_board': None}}

In [112]:

json_pin = response.json()
json_pin

i = json_pin['data']
i

pd.DataFrame([{'is_verified_merchant':i['is_verified_merchant'],
               'indexed':i['indexed'],'pin_count':i['pin_count'],'last_pin_save_time':i['last_pin_save_time'],'show_impressum':i['show_impressum'],
              'partner':i['partner'],'should_show_messaging':i['should_show_messaging'],'story_pin_count':i['story_pin_count'],'is_privacy_profile':i['is_private_profile'],
              'profile_discovered_public':i['profile_discovered_public'], 'has_published_pins':i['has_published_pins'],''}])
#pd.DataFrame(json_pin['first_name'])

,is_verified_merchant,indexed,pin_count,last_pin_save_time,show_impressum,partner,should_show_messaging,story_pin_count,is_privacy_profile,profile_discovered_public,has_published_pins
0,False,True,1028,"Thu, 01 Jun 2023 01:14:53 +0000",False,None,True,0,False,None,False

In [28]:
#New way 
base_url = "https://pintrest-apis.p.rapidapi.com/v1/"
import json


def get_data(name):
    url = f"{base_url}/pintrest/{name}"
    responsenew = requests.get(url)

    if responsenew.status_code == 200:
        df = responsenew.json()
        return df
    else:
        print(f"Failed to retrieve data {responsenew.status_code}")

In [72]:
pintrest_name = 'first_name'
df_info = get_data(pintrest_name)

Failed to retrieve data 404